<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DeploymentType" value="dev"/>
    <add key="TotalAgilityHostNameLive" value="localhost/agility.server.web"/>
    <add key="TotalAgilityHostNameDev" value="localhost/agility.server.web"/>
    <add key="TenantDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=Tenants;"/>
    <add key="SdkServicesLocation" value=""/>
    <add key="CoreServicesLocation" value=""/>
    <add key="CoreIntegrationServicesLocation" value=""/>
    <add key="IntegrationServerMode" value="false"/>
    <add key="MainDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility;"/>
    <add key="ArchiveDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility;"/>
    <add key="AuditDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility;"/>
    <add key="SimulatorDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgilitySimulator;"/>
    <add key="ProcessIntelligenceDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility;"/>
    <add key="ReportingMainDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility_Reporting;"/>
    <add key="ReportingStagingDBConnectionString" value="Server=(local);Trusted_Connection=Yes;Database=TotalAgility_Reporting_Staging;"/>
    <add key="SendMailServer" value=""/>
    <add key="SendMailUsername" value=""/>
    <add key="SendMailPassword" value=""/>
    <add key="SendMailEnableSSL" value="true"/>
    <add key="SendMailFromAddress" value=""/>
    <add key="SendMailBccList" value=""/>
    <add key="IsSingleRoleDeployment" value="false"/>
    <add key="IsMultitenantDeployment" value="false"/>
    <!-- This setting is used to signify if hosted in Azure -->
    <!-- False is default for On-Premise - AZURE should be set to true -->
    <add key="IsAzure" value="false"/>
    <add key="TenantManagementUrl" value="/TenantManagement"/>
    <add key="WebsiteBaseName" value="agility.server.web"/>
    <add key="FormsRootFolder" value="forms"/>
    <add key="ProcessDocumentsRootFolder" value="/agility.server.web/documents/process"/>
    <add key="StorageAccountConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="MinifyDeployedForms" value="true"/>
    <!-- Below settings are for Database Retry to check if DB is Transient -->
    <add key="DatabaseRetryCount" value="5"/>
    <add key="MinBackOffInMilliseconds" value="1000"/>
    <add key="MaxBackOffInMilliseconds" value="30000"/>
    <add key="DeltaBackOffInMilliseconds" value="10000"/>
    <add key="CacheOption" value="db"/>
    <add key="IgnoreCertificateError" value="false"/>
    <!-- Below settings are for secure assembly execution -->
    <!-- Maximum number of instances allowed for Executor Process -->
    <add key="MaxNumberOfTenantProcesses" value="100"/>
    <!-- If number of tenant processes reached to max, next tenant will wait for n seconds -->
    <add key="TenantExecutorProcessWaitForShutdownIntervalInSeconds" value="5"/>
    <!-- If number of tenant processes reached to max, retry count before new tenat process can be shutdown -->
    <add key="TenantExecutorProcessShutdownRetryCount" value="5"/>
    <!-- Core worker\IIS\TS will wait for n seconds for executor process to respond-->
    <add key="ExecutorProcessResponseTimeOutInMilliseconds" value="30000"/>
    <!-- Retry count for errors-->
    <add key="SecuredMethodExecutionMaxErrorRetryCount" value="5"/>
    <!-- Retry count intervval for errors-->
    <add key="SecuredMethodExecutionErrorRetryIntervalInSeconds" value="1"/>
    <!-- Wait intervval for executor process to exit-->
    <add key="ScriptExecutorWaitIntervalInSeconds" value="60"/>
    <!-- Enabling safescripting-->
    <add key="SafeScripting" value="true"/>
    <!-- Maximun size of the capture project size allowed in MB-->
    <add key="MaxCaptureProjectSize" value="2048"/>
    <add key="OPMTCacheRetryCount" value="3"/>
    <add key="CustomDatabaseTimeoutInSeconds" value="600"/>
    <add key="DebugForms" value="false"/>
    <!-- Maximun Retry count for Rest service calls in case of connection timeout-->
    <add key="RestServiceRetryCount" value="5"/>
    <!-- Recovery mode session Id used for Federated Security recovery -->
    <add key="RecoveryModeSessionId" value="589CE226A8B4F38FEFDB351B7597DF7E"/>
    <!-- -->
    <!-- This setting indicates the domains permitted to perform Cross Origin Resource Sharing -->
    <!-- If for example, there are 2 other domains you wish to allow to access the KTA SDK APIs on your app server then need to configure like so: -->
    <!-- <add key="CorsAllowedOrigins" value="http://sub-domain1.sub-domain2.domain1.com,http://domain2"/> -->
    <!-- If want ALL domains to have access then configure as so: -->
    <!--<add key="CorsAllowedOrigins" value="*"/>-->
    <!-- The following setting (with value="") means CORS is disabled -->
    <add key="CorsAllowedOrigins" value=""/>
    <!-- The location of the CCM Proxy used by the CCM Control to talk to the CCM Server -->
    <add key="CCMProxyURL" value="CCM/Proxy/"/>
    <!--Applicable only for TS running in synchronous mode -->
    <add key="TSExternalServicePortForSyncProcessing" value="9001"/>
    <!-- Start of Cache settings - Only used for OnPremise Multi-Tenancy -->
    <!-- CacheType Values
         InMemory  = 0
         Redis     = 1
         NCache    = 2 -->
    <add key="CacheType" value="0"/>
    <add key="CacheServer" value=""/>
    <add key="CachePort" value=""/>
    <add key="CacheName" value=""/>
    <!-- End of Cache settings - Only used for OnPremise Multi-Tenancy -->
    <add key="CacheExpirationIntervalInSeconds" value="300"/>
    <add key="CCMServerURL" value="{http://ccmserver:port}"/>
  </appSettings>
</configuration>